*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary : 'Andale Mono', monospace;
    --ff-secondary : 'Gill Sans', sans-serif ;

    --fw-reg: 350;
    --fw-bold: 920;

    --clr-light: #F0FFF0;
    --clr-dark: #242424;
    --clr-green: #90EE90;
    
    --bs-: 0.25em 0.25em 0.75em rgba(0,0,0,.25);

    --fs-h1: 3.0rem;
    --fs-h2: 2.13rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1rem;
    --fs-h5: 0.7rem;
    --fs-body: 1rem;
}

@media (min-width: 200px) {
    :root {
        --fs-h1: 3.0rem;
        --fs-h2: 2.0rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.0rem;
        --fs-h5: 0.60rem;
        --fs-body: 0.8rem;
    }
}
@media (min-width: 500px) {
    :root {
        --fs-h1: 3.6rem;
        --fs-h2: 2.5rem;
        --fs-h3: 2.0rem;
        --fs-h4: 1.50rem;
        --fs-h5: 0.90rem;
        --fs-body: 1.123rem;
    }
}


body {
    background: var(--clr-green);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(-ff-primary);
    font-size: var(--fs-body);
    line-height: 1.7;
}

img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs-);
    
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}
strong { font-weight: var(--fw-bold);}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4) }
h5 { font-size: var(--fs-h5) }

.intro-img{
    grid-area: img;
    
}

 section {
     padding: 5em 2em;
     height: 800px;
     width: 100%;
}

.section-title{
    margin-bottom: 1em;
    margin-bottom: 1em;
    font-family: var(--ff-primary);
}
.section-title-intro strong {
    display: block;
}
.section-subtitle {
    margin-bottom: .25em;
    margin-top: .25em;
    font-size: var(--fs-h4);
}

.section-subtitle-intro {
    
    font-family: var(--ff-secondary);
}

.section-subtitle-work {
    
    font-family: var(--ff-secondary);
}
.section-subtitle-project {
   
    font-family: var(--ff-secondary);
}


/* Header */
header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: .1em;
}

.nav-bar {
    position: fixed;
    background-color: var(--clr-dark);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);

}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-direction: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item{
  
    color: var(--clr-green);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    
}

.nav-item:hover {
    color: var(--clr-green);
}

.nav-toggle {
    padding: .25em;
    background: transparent;
    border: 0;
    margin-top: 10px;
    position: absolute;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}
.navigation {
    background:var(--clr-light);
    width: 2em;
    height: 15px;
    border-radius: 1em;
    display: block;
    position: relative;
}


.navigation,
.navigation::before,
.navigation::after {
    background: green;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: 250ms ease-in-out;
}

.navigation::before,
.navigation::after {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
}
.navigation::before { top : 7px;}
.navigation::after { bottom: 7px;}

.nav-open .nav-bar {
    transform: translateX(0);
}



/* Intro */

.intro{
margin: auto;
  width: 80%;
  padding: 10px;
  
}

@media (min-width: 690px) {
    .section-title-intro{
        grid-area: title;
    }
    .section-subtitle-intro{
        grid-area: subtitle;
    }
    .intro-img {
        grid-area: img;
        position: relative;
        z-index: 2;
        min-width: 250px;
        height: 280px;
        
    }
    .intro{
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
    
        grid-template-columns: min-content ;
    }
    
}

/* Previous work*/

.my-previous-works {
    background-color: var(--clr-dark);
    background-image: url(../tranthiep191/img/Portland\ IT.jpg);
    color: var(--clr-light);

}

.section-title-work {
    text-align: center;
    margin-bottom: 50px;
    color: var(--clr-green);
}

.section-subtitle-work {
    color: var(--clr-green);
    margin-top: 5px;
    
}
.previous-work {
    margin:auto;
}
@media (min-width: 690px) {
    .previous-works {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-evenly;
        
    }
}

/* Project */
.my-project-list{
    color: var(--clr-light);
    background-image: url(../tranthiep191/img/project-list.png);
}

.section-title-project {
    text-align: center;
    margin-bottom: 50px;
    color: var(--clr-green);
    
}

.section-subtitle-project {
    color: var(--clr-green);
    margin-top: 5px;
    
}
.previous-work {
    margin:auto;
}
.project-item {
    text-align: center;
}

@media (min-width: 690px) {
    .projects {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-evenly;
        
    }
}

/* Footer */
input[type=submit] {
    background-color: var(--clr-dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
.message-form {
    border-radius: 5px;
 
    padding: 20px;
  }
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
footer {
    padding: 2em 2em;
  
    width: 100%;
    background: var(--clr-green);
    color: var(--clr-dark);
   
}
footer a {
    color: var(--clr-dark);
    text-decoration: none;
}


.contact-list {
    list-style: none;
    
}

