*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary : 'Andale Mono', monospace;
    --ff-secondary : 'Source Sans Pro', sans-serif;

    --fw-reg: 350;
    --fw-bold: 920;

    --clr-light: #ccc;
    --clr-dark: #242424;
    --clr-accent: #6ed0db

    --fs-h1: 3rem;
    --fs-h2: 2.13rem;
    --fs-h3: 1.23rem;
    --fs-h4: 0.50rem;
    --fs-h5: 0.2rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.13rem;
        --fs-h3: 2.23rem;
        --fs-h4: 1.50rem;
        --fs-h5: 0.75rem;
        --fs-body: 1.123rem;
    }
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(-ff-primary);
    font-size: var(--fs-body);
    line-height: 1.7;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}